@import "../../public/variables.scss";

.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    min-height: 250px;
    margin: 50px 25px;
    padding: 25px 15px;
    background-color: $bg-1;
    box-shadow: 4px 5px 5px #00000080, 0 0 15px #00000020;
    transition: 0.2s all;
    cursor: pointer;

    &:hover {
        box-shadow: 8px 10px 10px #00000080, 0 0 5px #00000010;
        transition: 0.2s all;
    }
    > i {
        font-size: 65px;
        margin: auto;
    }
    p {
        @extend %paragraph;
        font-size: 1.1rem;
    }
}