@import "../../public/variables.scss";

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 10px);
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        font-family: $font-title;
    }

    [id~=left] {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        fill: $accent-2;
    }

    [id~=right] {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        fill: $accent-2;
    }
}