@import "../../../public/variables.scss";

.top {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    height: auto;
    padding: 25px 5vw;
    background-color: $bg-1;
    z-index: 100;
    transition: 0.1s all;

    a {
        text-decoration: none;
        color: #000000;
        margin: 0 25px;
        font-family: $font-accent;
    }
}

.scrolled {
    box-shadow: 0 5px 5px #00000050;
    transition: 0.1s all;
}