@import "./variables.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
        height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $bg-2;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $bg-3;
    box-shadow: 0 0 5px inset #00000030;
}
::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: $bg-1;
}