@import "../../public/variables.scss";

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    height: auto;
    padding: 25px 5vw;

    > * {
        margin: 0 25px;
    }

    .links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        a {
            font-family: $font-accent;
            text-decoration: none;
            color: #000000;
            margin: 0 25px;
        }
    }

    .information {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        > * {
            margin: 10px 0;
            text-align: center;
        }
        h2 {
            font-family: $font-title;
        }
        h3 {
            font-family: $font-accent;
        }
    }

    .input {
        position: relative;
        height: 20px;
        margin: auto 25px;

        input {
            padding: 5px;
            font-family: $font-accent;
            font-size: 0.9rem;
        }
        label {
            position: absolute;
            left: 0;
            padding: 6px;
            font-family: $font-accent;
            font-size: 0.9rem;
            color: $bg-contrast-1;
            pointer-events: none;
        }
        [class~=inputted] {
            top: -30px;
            transition: 0.2s all;
        }
        [class~=empty] {
            top: 0;
            transition: 0.2s all;
        }
    }
}